.btn {
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    padding: 0;
    min-width: 32px;
    min-height: 32px;
}

.btn-text {
    padding: 8px 20px 8px 20px;
    background-color: #3EB34F;
    border: 1px solid black;
    border-radius: 6px;
    outline: none;
    color: black;
}

.btn-text:active {
    background-color: #CDCDCD;
}

.bgr {
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
}

.icon {
    width: 32px;
    height: 32px;
}

.nav-bar-button {
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    padding: 0;
    min-width: 48px;
    max-width: 48px;
    height: 48px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 48px;
    filter: brightness(0);
    margin-right: 6px;
    cursor: pointer;
}

.btn:focus {
    background-color: #333333;
}

.btn-back {
    background-image: url(/usr/share/icons/suru/actions/scalable/previous.svg);
}

.btn-menu {
    background-image: url(/usr/share/icons/suru/actions/scalable/navigation-menu.svg);
}

.btn-close {
    background-image: url(/usr/share/icons/suru/actions/scalable/close.svg);
}

/* .btn-delete {
    background-image: url(/usr/share/icons/suru/actions/scalable/edit-delete.svg);
    position: absolute;
    top: calc(50% - 34px);
    left: inherit;
    right: 0;
    z-index: 10;
} */

.btn-delete-command {
    background-image: url(/usr/share/icons/suru/actions/scalable/edit-delete.svg);
    position: absolute;
    top: calc(100% + 4px);
    left: inherit;
    right: 0;
    z-index: 10;
}

.btn-delete-simple {
    background-image: url(/usr/share/icons/suru/actions/scalable/edit-delete.svg);
}

.btn-erase {
    background-image: url(/usr/share/icons/suru/actions/scalable/erase.svg);
}

.btn-remove {
    background-image: url(/usr/share/icons/suru/actions/scalable/edit-delete.svg);
}

.btn-play {
    background-image: url(/usr/share/icons/suru/actions/scalable/media-playback-start.svg);
}

.btn-stop {
    background-image: url(/usr/share/icons/suru/actions/scalable/media-playback-stop.svg);
}

.btn-add {
    background-image: url(/usr/share/icons/suru/actions/scalable/add.svg);
}

.btn-edit {
    background-image: url(/usr/share/icons/suru/actions/scalable/edit.svg);
}

.btn-export {
    background-image: url(/usr/share/icons/suru/actions/scalable/document-save.svg);
}

.btn-open {
    background-image: url(/usr/share/icons/suru/actions/scalable/document-open.svg);
}

.btn-selection-mode {
    background-image: url(/usr/share/icons/suru/actions/scalable/view-list-symbolic.svg);
}

.btn-cut {
    background-image: url(/usr/share/icons/suru/actions/scalable/edit-cut.svg);
}

.btn-copy {
    background-image: url(/usr/share/icons/suru/actions/scalable/edit-copy.svg);
}

.btn-paste {
    background-image: url(/usr/share/icons/suru/actions/scalable/edit-paste.svg);
}

.btn-next {
    background-image: url(/usr/share/icons/suru/actions/scalable/next.svg);
}

.btn-prev {
    background-image: url(/usr/share/icons/suru/actions/scalable/previous.svg);
}

.btn-cloud {
    background-image: url(/usr/share/icons/suru/status/scalable/weather-clouds-night-symbolic.svg);
}

.btn-sync {
    background-image: url(/usr/share/icons/suru/actions/scalable/view-refresh.svg);
}

.btn-settings {
    background-image: url(/usr/share/icons/suru/actions/scalable/settings.svg);
}

.btn-func {
    font-size: 1.4rem;
}

.btn-openstore {
    background-image: url(/usr/share/icons/suru/apps/scalable/ubuntu-store-symbolic.svg)
}

.btn-timer {
    background-image: url(/usr/share/icons/suru/actions/scalable/timer.svg)
}

.icon {
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(2);
}

.btn-light-modal {
    border: 2px solid white;
    color: white;
    background: transparent;
    font-size: 1.6rem;
    padding: 8px 12px 8px 12px;
    margin-left: 16px;
}