@media (orientation: landscape) {

    #code-container {
        right: 50%;
    }

    #live-exec-container {
        display: inherit;
    }

    #output-container {
        left: 50%;
        border: 2px solid dodgerblue;
    }

    .command-panel {
        right: 50%;
    }

    #btn-play {
        display: none;
    }

    #credentials, #options {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
        max-height: 400px;
    }

    #project-options {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
        max-height: 600px;
        border: 2px solid black;
    }

}

@media (orientation: portrait) {

    #live-exec-container {
        display: none;
    }

    #output-container {
        border-top: 2px solid dodgerblue;
    }
}