body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

#nav-bar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    border-bottom: 2px solid dodgerblue;
    overflow-x: auto;
}

.nav-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#code-container {
    font-size: 1.3rem;
    padding: 12px;
    position: fixed;
    left: 0;
    right: 0;
    top: 70px;
    transition: 0.2s;
    overflow: auto;
}

.function-wrapper {
    display: flex;
    flex-direction: column;
    border-left: 6px solid brown;
    padding: 0 12px 0 12px;
    position: relative;
}

.wrapper-top {
    display: flex;
    flex-direction: row;
    padding: 8px 0 8px 0;
    cursor: default;
}

.wrapper-content {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 12px;
    margin-bottom: 12px;
    position: relative;
}

.if-wrapper {
    border-left: 6px solid navy;
}

.for-wrapper {
    border-left: 6px solid darkgoldenrod;
}

.while-wrapper {
    border-left: 6px solid darkgreen;
}

.loop-wrapper {
    border-left: 6px solid palevioletred;
}

.selected {
    font-weight: 800;
    border: 2px dotted red;
}

.selected-marked {
    background-color: lavender;
}

.selected-expression {
    background-color: yellow;
}

.command {
    display: flex;
    flex-direction: row;
    padding: 8px 0 8px 0;
    cursor: default;
    position: relative;
}

.reserved-word {
    font-weight: 800;
    color: green;
    white-space: nowrap;
}

.comment {
    color: dimgray;
    font-style: italic;
    cursor: default;
}

.commented-out {
    color: dimgray !important;
    font-weight: 400;
    font-style: italic;
    cursor: default;
    display: inline;
}

.function-name {
    font-weight: 800;
    margin-left: 8px;
    white-space: nowrap;
}

.variable-name {
    margin-right: 0 8px 0 8px;
    color: purple;
    font-style: italic;
    white-space: nowrap;
}

.operator {
    margin: 0 8px 0 8px;
    white-space: nowrap;
}

.operator-open {
    margin: 0 0 0 8px;
    white-space: nowrap;
}

.operator-close {
    margin: 0 8px 0 0;
    white-space: nowrap;
}

.var-string {
    color: orangered;
    white-space: nowrap;
}

.var-number {
    color: navy;
    white-space: nowrap;
}

.var-object {
    color: purple;
    white-space: nowrap;
}

.function {
    font-weight: 800;
    color: darkslateblue;
}

.command-panel {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.2s;
    background-color: antiquewhite;
}

.command-panel-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.command-panel-row-help {
    background-color: beige;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
    justify-content: center;
    text-align: center;
    padding: 4px;
}

.command-panel-cell {
    font-size: 0.8rem;
    cursor: default;
    width: 100%;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cell-structure {
    background-color: lavender;
}

.btn-control-container {
    position: relative;
    left: -30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-control-container .btn-round, .btn-control-container .btn-rect {
    margin-right: 8px;
}

.btn-round {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
}

.btn-rect {
    min-width: 40px;
    height: 40px;
    border: 2px solid black;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    font-size: 0.8rem;
}

#output-container {
    position: fixed;
    left: 0;
    top: 70px;
    right: 0;
    bottom: 0;
    background-color: white;
}

#output-window {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 500px;
    bottom: 0;
    background-color: green;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    transition: 0.2s;
    opacity: 0.96;
}

.menu-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

.menu-close {
    min-width: 50px;
    height: 100%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(2);
    padding-left: 18px;
    cursor: pointer;
}

.menu-title {
    padding: 12px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.menu-container div {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px 4px 2px 4px;
    padding: 12px;
    background-color: darkgreen;
    cursor: pointer;
}

.menu-footer {
    padding: 12px;
    font-size: 0.9rem;
    cursor: pointer;
}

.panel-header {
    font-weight: 800;
    color: white;
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
}

#about {
    background-color: darkslategray;
    color: white;
    font-size: 1.2rem;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#about-title {
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 8px;
}

#credentials, #options, #project-options {
    background-color: darkslategray;
    color: white;
    font-size: 1.2rem;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 12px 0 12px;
    overflow-y: auto;
}

#credentials-title {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 12px 0 12px 0;
    position: sticky;
    top: 0;
    background-color: darkslategray;
}

.credentials-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.credentials-row a {
    color: white !important;
}

.credentials-row input {
    padding: 8px;
}

.credentials-footer {
    text-align: center;
    margin-top: 32px;
    position: sticky;
    bottom: 0;
    background-color: darkslategray;
    padding: 12px 0 12px 0;
}

.options-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}

.options-row input, .options-row-col input, .options-row-col select {
    padding: 8px;
}

.options-row-col textarea {
    padding: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 200px;
}

.options-row input[type=checkbox] {
    margin-right: 8px;
}

.options-row-col {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.options-row-col label {
    display: block;
    font-size: 0.8rem;
}

.about-link {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 8px;
}

input[type=checkbox] {
    width: 26px;
    height: 26px;
}

#live-exec-container {
    display: none;
}