.modal {
    background-color: darkslategrey;
    color: white;
    position: fixed;
    top: 0;
    z-index: 10;
}

#wait-dialog {
    background-color: navy;
    color: white;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 22px;
    text-align: center;
    border: 4px solid white;
}

#modal-input-prompt, #modal-confirm-prompt, #modal-dialog-prompt {
    padding: 12px;
}

#modal-input-line {
    padding: 0 12px 12px 12px;
}

#modal-input-value {
    width: calc(100% - 8px);
}

#modal-input-buttons, #modal-confirm-buttons, #modal-dialog-buttons {
    border-top: 1px solid white;
    padding: 12px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#modal-input-buttons button, #modal-confirm-buttons button, #modal-dialog-buttons button {
    margin-left: 12px;
    min-width: 80px;
    min-height: 32px;
    background-color: #3EB34F;
    border: 1px solid black;
    border-radius: 6px;
    outline: none;
    color: black;
}

.variable-name-list {
    margin-right: 0 8px 0 8px;
    font-size: 1rem;
    color: lightgray;
    font-style: italic;
    white-space: nowrap;
}

#variables-list-container, #functions-list-container, #class-list-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
}

#variables-list {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    left: 0;
    right: 0;
    background-color: darkslategray;
    overflow-y: auto;
    opacity: 0.9;
    color: yellow;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    text-align: center;
}

.panel-header-variables {
    background: darkslategray;
}

#functions-list {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: calc(100% - 70px);
    left: 0;
    right: 0;
    background-color: purple;
    overflow-y: auto;
    opacity: 0.9;
    color: yellow;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    text-align: center;
}

.panel-header-functions {
    background: purple;
}

#functions-list-buttons {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: purple;
    overflow-y: auto;
    opacity: 0.9;
    color: yellow;
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    align-items: center;
}

#class-list {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: calc(100% - 70px);
    left: 0;
    right: 0;
    background-color: navy;
    overflow-y: auto;
    opacity: 0.9;
    color: yellow;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    text-align: center;
}

.panel-header-classes {
    background: navy;
}

#class-list-buttons {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: navy;
    overflow-y: auto;
    opacity: 0.9;
    color: yellow;
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    align-items: center;
}

#variables-list div, #functions-list div, #class-list div {
    padding: 12px;
}

@media (max-width: 767.98px) {
    
    .modal, #wait-dialog {
        left: 0;
        right: 0;
    }

    #variables-list, #functions-list, #functions-list-buttons, #class-list, #class-list-buttons {
        width: 100%;
    }

}


@media (min-width: 768px) {

    .modal, #wait-dialog {
        left: calc(50% - 200px);
        width: 400px;
    }

    #variables-list, #functions-list, #functions-list-buttons, #class-list, #class-list-buttons {
        width: 80%;
    }

}