#projects {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /*background-color: dodgerblue;*/
    background-image: url(../img/background.jpg);
    color: white;
    display: flex;
    flex-direction: column;
}

#projects-title-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#projects-title {
    font-size: 1.7rem;
    padding: 12px;
}

#projects-container {
    overflow-y: auto;
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: first baseline;
}

#projects-container div {
    background-color: midnightblue;
    opacity: 0.8;
    width: 40%;
    max-width: 200px;
    height: 40vw;
    max-height: 200px;
    margin: 4px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#projects-footer {
    height: 54px;
    padding: 12px;
}

#projects-footer button {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid white;
    color: dodgerblue;
    font-size: 1rem;
}

#projects-menu-button {
    filter: brightness(2);
    border: 2px solid white;
    margin: 8px;
}

.cloud-icon {
    background-image: url(/usr/share/icons/suru/status/scalable/sync-idle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    min-width: calc(100% - 30px) !important;
    min-height: 22px !important;
    max-width: calc(100% - 30px) !important;
    max-height: 22px !important;
    text-align: right;
}